@charset "UTF-8";

body{
    background-color: rgb(109, 150, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1{
    text-align: center;
}
blockquote{
    text-align: right;
}
